.post{
    margin-top: 10px;
    padding: 20px 15px 10px 15px;
    width: 580px;
    min-height: 110px;
    font-size: 30px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: white;
}

.postHeader {
    display: flex;
}

.postOwnerImg {
    margin-right: 15px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.postName {
    font-size: 14px;
    font-weight: 600;
    color: rgb(24, 32, 36)
}

.postDate {
    font-size: 12px;
    font-weight: 400;
    color: gray;
}

.postText {
    margin-top: 10px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(24, 32, 36)
}

.postFooter {
    margin-top: 5px;
    display: flex;
    align-items: center;
    height: 30px;
}

.postLikesWrapper {
    padding: 4px;
    width: 45px;
    height: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 5px;
}

.postLikesWrapper img{
    width: 20px;
    height: 20px;
}



.postLikesCount {
    color: gray;
    font-size: 10px;
}