.authorizationForm {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.authorizationInput {
    margin-top: 10px;
    padding: 5px 15px 5px 15px;
    font-size: 14px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: white;
}

.authorizationCheck {
    margin: 0 auto;
    margin-top: 10px;
}

.authorizationBtn {
    margin-top: 10px;
    height: 32px;
    font-size: 16px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    background-color: rgb(6, 176, 109);
    background-image: linear-gradient(rgb(7, 201, 124) 0%, rgb(6, 176, 109) 100%);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.captcha {
    display: block;
    width: 120px;
    height: 50px;
    margin: 0 auto;
    margin-top: 10px;
}